---
layout: default
---
<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <a href="{{ relative_url }}"><h2>{{ page.title }}</h2></a>
      <p>{{ page.description }} </p>
    </div>
  </header>
  <!-- Content -->
  <div class="wrapper">
    <div class="inner">
      {% assign posts = site.posts | where:"category",page.category | sort:"order"  %}
      {% for post in posts %}
      {% if post.title != 404 %}
      {% if post.category == page.category %}
        {% assign is_alt = forloop.index | modulo:2 %}
        {% capture alt %}{% if is_alt == 0 %} alt{% endif %}{% endcapture %}
        <!-- each-post-in-category -->
          <section id="post-{{ forloop.index }}" class="wrapper{{ alt }} spotlight style{{ forloop.index }}">
          <div class="inner">
            <a href="{{ post.url | relative_url }}" class="image"><img src="{{ post.image }}" alt="" /></a>
              <div class="content">
              <h2 class="major">{{ post.title }}</h2>
              <p>{{ post.description }}</p>
              <a href="{{ post.url | relative_url }}" class="special">Learn more</a>
              </div>
            </div>
          </section>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
